@page
@model ProyectoTiendaRopa.Pages.Productos.EditarModel
@{
}
@if (Model.mensaje!=null)
{
  <div class="alert alert-warning alert-dismissible show" role="alert" id="mensaje">
   @Model.mensaje
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
}
<div class="card miCardCrear">
    <div class="card-header">
        <h2 class="text-black-50">Editar Producto</h2>
    </div>

    <div class="card-body">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="productos.id" />

            <div class="container" style="padding:30px">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-2 miLavel">
                            <label asp-for="productos.nombreProducto"></label>
                        </div>
                        <div class="col-sm-6">
                            <input asp-for="productos.nombreProducto" class="miInputCrear" />
                        </div>
                        <span asp-validation-for="productos.nombreProducto" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-2 miLavel">
                            <label asp-for="productos.descripcion"></label>
                        </div>
                        <div class="col-sm-6">
                            <input asp-for="productos.descripcion" class="miInputCrear" />
                        </div>
                        <span asp-validation-for="productos.descripcion" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-2 miLavel">
                            <label asp-for="productos.precio"></label>
                        </div>
                        <div class="col-sm-6">
                            <input asp-for="productos.precio" class="miInputCrear" />
                        </div>
                        <span asp-validation-for="productos.precio" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-2 miLavel">
                            <label asp-for="productos.imagen"></label>
                        </div> 
                        <div class="col-sm-6 file-select" id="src-file1">
                            <input type="file" id="imgProducto" asp-for="subirArchivoEditar.imagen" class="miInputCrear"/>
                            <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                              <script>
                                 $(document).ready(function() {
                                    $("#imgProducto").change(function(){
                                        let input = $(this);
                                        let nombre = input.val().split("\\").pop().toLowerCase();
                                        if( input.val() != "" ){
                                            alert("Se cargo la imagen " + nombre + " correctamente");
                                        }
                                    });
                                 });
                             </script>
                            <input asp-for="productos.imagen" class="valordefecto" />
                        </div>
                        <span asp-validation-for="subirArchivoEditar.imagen" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-2 offset-sm-2">
                            <input type="submit" value="Editar" class="btn btn-primary form-control" />
                        </div>
                        <div class="col-sm-4">
                            <a asp-page="Index" class="btn btn-success form-control">Regresar</a>
                        </div>
                     
                    </div>
                </div>
            </div>       
        </form>
    </div>
</div>
