@page
@model IndexModel
@{
    ViewData["Title"] = "Productos";
}

@if(Model.productos.Count()>0){
   @foreach (var item in Model.productos)
    {
        <div class="columna1p">
            <div class="container">
                    <div class="contenedor">
                    <h2 class=" frontal">@Html.DisplayFor(m => item.nombreProducto)</h2>
                        <div class="contenedor_tarjeta row">                        
                        <figure id="tarjeta">                            
                        <img class="frontal" src= "~/img/@Html.DisplayFor(m=> item.imagen)" />                
                        <figcaption class="trasera">
                                <br/>
                                <h6>@Html.DisplayFor(m=> item.descripcion)</h6>
                                <br/>
                                <h5>Precio: $@Html.DisplayFor(m=> item.precio)</h5>
                                <br/>
                                <h3><span class="btn btn-primary">Comprar</span></h3>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    }
}
  else
{
    <div>
       <h1>No existen productos</h1>
       <p>Vaya a la pestaña de productos para registrarlos</p>
     </div>
}

