@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if(Model.productos.Count()>0){
   @foreach (var item in Model.productos)
            {
<div class="columna1p">
<div class="container">
        <div class="contenedor">
            <div class="contenedor_tarjeta row">
                <figure id="tarjeta">
                    <img class="frontal" src= "~/img/@Html.DisplayFor(m=> item.imagen)" />
                        <figcaption class="trasera">@Html.DisplayFor(m=> item.nombreProducto)
                            <br/>
                        <h6><b>presentacion:</b> @Html.DisplayFor(m=> item.descripcion)</h6>
                            <br/>
                        <h3><span class="btn btn-primary">precio: $@Html.DisplayFor(m=> item.precio)</span></h3>
                            <br/>
                        <h3><span class="btn btn-dark ">La quiero</span></h3>
                        </figcaption>
                    </figure>
</div>
</div>
</div>
</div>

            }
}
  else
{
    <div>
       <h1>Valla a la pestaña de productos para registrarlos</h1>
     </div>
}

