@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if(Model.productos.Count()>0){
   @foreach (var item in Model.productos)
            {
                        <h3 class="tituloArticle">@Html.DisplayFor(m=> item.nombreProducto)</h3>
                    <img class="imgprodcut" src= "~/img/@Html.DisplayFor(m=> item.imagen)" />
                        <p class="miParrafo"><b>presentacion:</b> @Html.DisplayFor(m=> item.descripcion)</p>
                        <h3><span class="btn btn-primary">precio: $@Html.DisplayFor(m=> item.precio)</span></h3>
                        <h3><span class="btn btn-dark ">La quiero</span></h3>
                         <h3><span class="btn btn-success">Leer mas</span></h3>
            }
}
  else
{
    <div>
       <h1>Valla a la pestaña de productos para registrarlos</h1>
     </div>
}

